.banner-image {
    background-image: url('/img/inicio/banner-principal.jpg');
    background-size: cover;
    background-position: top center;
    height: 115vh;
}

@media (max-width: 768px) {
    .banner-image {
        height: 65vh;
    }
}